spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tfg_dam?serverTimezone=UTC
    username: root
    password: 3306
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
